<page-header></page-header>
<div class="ordre_subheader">
    <div class="navigation_holder">
      <div class="col-md-1">
        <a (click)="popView()" class="go_back"></a>
      </div>
      <div class="col-md-11">
        <div class="collection_title" [innerHTML]="data.designer.title"></div>
        <div style="clear: both;"></div>
      </div>
      <div class="col-md-12 col_item_name">
        <div class="current_item_name" [innerHTML]="collection.collection_title"></div>
      </div>
    </div>
</div>
<ion-content>
<div id="pbody" class="closed_bar">
  
  <section class="page_content" id="collection_item_section">
    <div class="col-md-6 left">
      <div class="collection_item_description">
        <p class="collection_item_name" [innerHTML]="product.product_title"></p>
        <div class="color-material_info">
          <div class="color">
            <p>Sizing</p>
            <p>{{product.variants[0].sizes_list}}</p>
            <span></span>
          </div>
          <div class="material" style="width: 60%;">
            <p>Material</p>
            <p [innerHTML]="product.materials"></p>
          </div>

          <div *ngIf="yesThisHas360">
            <img tappable (tap)="view360(product.variants, default360)" src="assets/images/360-icon-vector.png" alt="360 View">
          </div>
        </div>
        <div style="clear: both;"></div>
        <p [innerHTML]="product.product_content" class="description">
        </p>
      </div>
      <div class="line_sheet_item" *ngFor="let variant of product.variants">
        <div class="item_image">
          <lazy-img (tap)="viewSlide(variant.slidekey)" src="{{values.APIRoot}}/app/get_image.php?image=/{{variant.swatch.swatch_image}}&w=100&h=100&xtype=prodimage"></lazy-img>
        </div>
        <div class="item_meta">
          <p class="name">{{variant.title}}</p>
          <p class="wsp"><span>WSP</span> {{this.data.designer?.buyer_code}} {{this.data.designer?.buyer_symbol}}{{product?.region_prices[this.values.user_profile.user_region_id].wsp | number :'.2'}}</p>
          <div class="color-material_info"> {{variant.colour}} </div>
        </div>
        <div class="item_price">
        <div>
            <p class="total_title">Products total WSP</p>
            <p class="product_total" [ngClass]="{'active': variant?.total>0, '': variant?.total==0}">{{this.data.designer?.buyer_code}} {{this.data.designer?.buyer_symbol}}{{variant?.total | number :'.2'}}</p> 
            
            <p class="clear_item" tappable (tap)="clearItem(variant.variant_id,0)">Clear item</p>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="product_sizes">
            <label for="s{{size.variant_id}}" *ngFor="let size of variant.sizes">{{size.size_title}}

              <input type="number" [disabled]="this.values.user_profile.seller_account_id != 0 ? true : null" name="{{size.variant_size_id}}" value="{{size.qty}}" id="{{size.variant_size_id}}" (blur)="addToCart(product.product_title+' : '+variant.title,variant.colour,product.materials,variant.swatch.swatch_image,variant.variant_images[0].variant_image,data.designer.title,size.variant_id,size.sku,product.region_prices[this.values.user_profile.user_region_id].wsp,$event,data.designer.seller_account_id,size.size_title,size.variant_size_id,'type',product.product_id)">
            </label>
          </div>
          <!--p class="product_quantity">
            <input type="text" name="product_quantity" placeholder="Enter product enquiry here">
          </p-->
      </div>  
    </div>
    <div class="collection_item_divider"></div>
    <div class="col-md-6 collection_item_slider right">
      <div class="my-slider">
        <ion-slides [pager]="true" [direction]="horizontal"  >
          <ng-container *ngFor="let variant of product.variants">
            <ion-slide *ngFor="let imageslide of variant?.variant_images">
              <lazy-img src="{{values.APIRoot}}/app/get_image.php?image=/{{imageslide.variant_image}}&w=683&h=980&zc=2&xtype=prodimage"></lazy-img>
            </ion-slide>
          </ng-container>
        </ion-slides>
      </div>
    </div>
  </section>
</div>
<img src="assets/images/arrow-up.png" tappable (tap)="scrollToTop()" class="go_to_top" ion-fixed>
</ion-content>