<page-header>
</page-header>
<div class="ordre_subheader" ion-fixed>
  <div class="col-md-3  fe_page fe_sidebar_header">
    <a (click)="popView()" class="go_back  col-md-2"></a>
    <span class="title col-md-8">Final Edit</span>
    <span class="toogle_menu col-md-2"></span>
  </div>
  <div class="col-md-9 fe_page content_sorter">
    <div class="ordre_title">YOUR CURRENT ORDER</div>
  </div>
</div>
<ion-content>  
  <div id="pbody" class="open_bar">
    <section class="page_content" id="fe_section">
      <div class="fe_divider"></div>
      <div class="fe_sidebar_overlay">
            <div class="fe_sidebar  open">
                  <p class="divider"></p>
                  <div class="sidebar_title">
                        Review your Order
                  </div>
                  <div class="collection_description">
                        <p></p>
                  </div>
                  <div class="order_summary" *ngIf="(this.values.cart.request.order[0].buyer_id!=0)">
                        <p class="title">Order Summary</p>
                        <div class="single_ordre_summary" *ngFor="let designer of values.cart.request.order[0].sales_order_parts">
                              <p class="designer_name"><span>Designer</span><span [innerHTML]="designer.designer_title"></span></p>
                              <!--p class="collection_name"><span>Collection</span><span>Spring Summer Autumn is the Collection's name</span></p>
                              <p class="ordre"><span>Order</span><span>30 Oct 2016 - 30 Nov 2016</span></p>
                              <p class="delivers"><span>Delivers</span><span>15 Jan 2017 - 31 Mar 2017</span></p-->
                              <p class="number"><span>No. Products</span><span>{{designer.total_line_items}}</span></p>
                              <p class="qty"><span>Total QTY</span><span>{{designer.total_qty}}</span></p>
                              <p class="total"><span>Total Value</span><span>{{designer.currency_code}} {{designer.currency_symbol}}
                                {{designer.total_amount | number :'.2'}}</span></p>
                        </div>
                  </div>
            </div>
      </div>
      <section id="fe_content" *ngIf="(this.values.cart.request.order[0].buyer_id==0)">
          <article>
              <div>
                  <p style="font-size: 18px; padding-left:20px;">No products have been added to your Order as yet.</p>
              </div>
          </article>
      </section>
      <section id="fe_content" *ngIf="this.values.cart.request.order[0].buyer_id!=0">
          <ion-content id="linesheetScroolUp" #linesheetScroolUp>  
              <p class="clear_all_ordres" tappable (click)="clearOrder()">Clear Order</p>
              <article class="designer_order" *ngFor="let designer of this.values.cart.request.order[0].sales_order_parts; let orderPart = index;">
                  <div class="designer_order_header">
                      <span [innerHTML]="designer.designer_title"></span>
                  </div>

                  <div *ngFor="let line of designer.sales_order_lines; let lineid = index">
                      <div *ngIf="line.size">
                          <div class="fe_item">
                              <span class="remove_item" tappable (click)="clearItem(orderPart,0,0,line.variant_id)">Remove</span>
                              <div class="item_image">
                                  <lazy-img src="{{values.APIRoot}}/app/get_image.php?image=/{{line.image}}&w=110&h=165&xtype=prodimage"></lazy-img>
                                  <!--p class="item_detail">Detail</p-->
                              </div>
                              <div class="item_meta">
                                  <p class="name" [innerHTML]="line.product_title"></p>
                                  <p class="wsp"><span>WSP</span> {{designer.currency_code}} {{designer.currency_symbol}}{{line.price  | number :'.2'}}</p>
                                  <div class="color-material_info">
                                      <div class="color">
                                          <p>Color</p>
                                          <p [innerHTML]="line.colour"></p>
                                          <span><lazy-img src="{{values.APIRoot}}/app/get_image.php?image=/{{line.swatch}}&w=20&h=20&xtype=prodimage" ></lazy-img></span>
                                      </div>
                                      <div class="material">
                                          <p>Material</p>
                                          <p [innerHTML]="line.material"></p>
                                      </div>
                                  </div>
                                  <div class="product_sizes">
                                      <label for="{{i}}{size.variant_size_id}}" *ngFor="let size of line.size; let i = index">Size {{size.title}}
                                          <input type="number" ng-model="qty" name="{{i}}{{size.variant_size_id}}" value="{{size.qty}}" id="{{i}}{{size.variant_size_id}}"
                                            (blur)="addToCart(line.product_title, line.colour, line.materials, line.swatch, line.image, designer.title, size.variant_id, 
                                            size.sku, line.price, $event, designer.seller_account_id, size.size_title, size.variant_size_id, 'type', line.product_id)">
                                      </label>                  
                                  </div>
                                  <p class="product_quantity">
                                      <input type="text" name="special_request" maxlength="255" value="{{line.special_request}}" placeholder="Enter product enquiry here" 
                                        (blur)="addSpecial($event, line.variant_id, orderPart)">
                                  </p>
                              </div>
                              <div class="item_price">
                                  <div>
                                      <p class="total_title">Products total WSP</p>
                                      <p class="product_total ">{{designer.currency_code}} {{designer.currency_symbol}}{{line.variant_total | number :'.2'}}</p>
                                      <p class="clear_item" tappable (click)="clearItem(orderPart,0,1,line.variant_id)">Clear item</p> 
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="fe_items_total_wrapper">
                      <div class="col-md-6 left">
                          <p><span [innerHTML]="designer.designer_title"></span> Totals</p>
                          <p>No. products: {{designer.total_line_items}} &nbsp;&nbsp;|&nbsp;&nbsp; TOTAL Quantity: {{designer.total_qty}}</p>
                      </div>
                      <div class="col-md-6 right">
                          <p>Total value <span>{{designer.currency_code}} {{designer.currency_symbol}}{{designer.total_amount | number :'.2'}}</span> </p>
                          <p tappable (click)="clearDesigner(orderPart)" class="clear_designer_items">Clear items from this designer</p>
                      </div>
                      <div style="clear: both;" ></div>
                      <div class="purchase_wraper">
                          <span class="purchase_order">Purchase Order #</span>
                          <input type="text" ng-model="qty" name="" value="{{designer.purchase_order}}" (blur)="addPurchaseOrder($event, orderPart)">
                          <span class="purchase_optional">(Optional)</span>
                      </div>
                  </div>
              </article>
              <div class="fe_footer">
                  <div class="col-md-12 fe_buttons">
                      <ion-input id="focus-input" #focusInput></ion-input>
                      <a (click)="saveDraft('draft','draft')" class="fe_save_draft" *ngIf="this.submitting==false">Save as draft order</a>
                      <ion-spinner name="ios" *ngIf="this.submitting==true"></ion-spinner>
                      <a (click)="saveOrder('draft','server')" class="confirm_order send_draft" *ngIf="((this.submitting==false))">Send Draft to Server</a>
                      <ion-spinner name="ios" *ngIf="this.submitting==true"></ion-spinner>
                      <a (click)="saveOrder('final','server')" class="confirm_order send_order" *ngIf="((this.submitting==false))">Confirm order request</a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="col-md-9">
                      <p>Total includes Terms of Trade Discount if previously agreed</p>
                      <p>Total costs excludes Freight and Taxes</p>
                  </div>
                  <div class="col-md-7"></div>
                  <div class="col-md-10">
                      <p class="approval_description">Your order will be delivered to the Designer(s) for approval. You will be invoiced in accordance with 
                        the terms and conditions confirmed.</p>
                  </div>
                  <div class="col-md-2"></div>
                  <div style="clear: both;"></div> 
              </div>       
              <p class="clear_all_ordres" tappable (click)="clearOrder()">Clear Order</p>
          </ion-content>  
      </section>      
    </section>
  </div>
  <img src="assets/images/arrow-up.png" tappable (click)="scrollToTop()" class="go_to_top" ion-fixed>
</ion-content>
