page-cart {
    ion-input#focus-input {
        width: 10px;
        margin: 0px;
        display: inline-block;
        color: #fff;
    }
    .scroll-content {
        overflow-y: hidden;
    }
    div.open_bar#pbody {
        height: 100%;
    }
    section.page_content {
        height: 100%;
    }
    section #fe_content {
        height: 100%;
        overflow-y: scroll;
    }
    div.fe_sidebar_overlay {
        overflow-y: scroll;
    }
    @media only screen and (max-width: 1024px) {
        .fe_footer .confirm_order {
            font-size: 13px;
            margin-left: 11px;
            padding: 10px 15px;
        }
        .fe_footer .fe_save_draft {
            font-size: 13px;
            padding: 10px 15px;
        }
    }
}
