page-header {
    @media only screen and (max-width: 1024px) {
        .ordre_header .header_right .header_mini_cart_link span.business_name_masquerade {
            max-width: 50%;
        }
    }
    @media only screen and (min-width: 1025px) {
        .ordre_header .header_right .header_mini_cart_link span.business_name_masquerade {
            max-width: 62%;
        }
    }
    @media only screen and (min-width: 1365px) {
        .ordre_header .header_right .header_mini_cart_link span.business_name_masquerade {
            max-width: 100%;
        }
    }
}