page-cache {
    #settings_section .settings_sidebar .settings_list div.version {
        border-bottom: 0px;
        padding-left: 40px;
        font-size: 17px;
        margin-top: 15px;
    }
    .scroll-content {
        overflow-y: hidden;
    }
    #settings_content .settings_item {
        height: 100%;
        overflow-y: scroll;
    }
}
