.settings_page.content_sorter .settings_title {
    i {
        font-size: 37px;
        vertical-align: middle;
    }
    span {
        vertical-align: middle;
    }
}
#settings_section .settings_sidebar .settings_list div.version {
    border-bottom: 0px;
    padding-left: 40px;
    font-size: 17px;
    margin-top: 15px;
}
.scroll-content {
    overflow-y: hidden;
}
ion-content #pbody {
    overflow: hidden;
}
#settings_content .settings_item {
    height: 100%;
    overflow-y: scroll;
}
div.no_download_collection {
    font-size: 28px;
    font-family: 'Avenir Book';
    width: 90%;
    margin: auto;
    color: #000000;
    padding-top: 50px;
}