<page-header></page-header>
<ion-content>
<div id="pbody" class="open_bar">
  <div class="ordre_subheader">
    <div class="col-md-3  orders_page orders_sidebar_header">
      <a (click)="popView()" class="go_back  col-md-2"></a>
      <span class="title col-md-8"></span>
      <span class="toogle_menu col-md-2">|||</span>
    </div>
    <div class="col-md-9 orders_page content_sorter">
      <div class="orders_title">
        <i class="mdi mdi-clipboard-check"></i>
        <span>Orders</span>
      </div>
    </div>
  </div>
  <section class="page_content" id="orders_section" >
    <div class="orders_sidebar  open">
      <p class="divider"></p>
      <div class="sidebar_title">  Your Orders </div>
      <div class="draft_requested_list">
        <p [ngClass]="{'active': uiState=='draft', '': uiState=='requested'}" class="active" block="drafts" (click)="uiChange('draft')">Saved & Sent Drafts</p>
        <p [ngClass]="{'active': uiState=='requested', '': uiState=='draft'}" block="requested" (click)="uiChange('requested')">Requested Orders</p>
      </div>
    </div>
  <section id="orders_content" >
    <div class="ordres_list drafts open" *ngIf="uiState=='draft'">
      <div class="no_draft_orders" *ngIf="this.data.draftOrders.length == 0 || this.data.draftOrders == undefined"> 
        There are currently no draft Orders. 
      </div>
      <table *ngIf="this.data.draftOrders.length > 0">
        <tr>
          <th><span>Saved</span> date</th>
          <th>Ordre #</th>
          <th>Designer</th>
          <th>Curr</th>
          <th>Total WSP</th>
          <th></th>
          <th></th>
        </tr>
        <ng-container>
          <ng-container *ngFor="let draft of this.data.draftOrders.slice().reverse()">
            <tr *ngIf="draft.buyer_id == this.values.user_profile.buyer_id">
              <td>{{draft.date | date:medium}}</td>
              <td *ngIf="draft.status=='LOCAL_DRAFT'">DRAFT</td>
              <td *ngIf="draft.status=='SERVER_DRAFT'">SENT</td>
              <td *ngIf="draft.status=='DRAFT'">SENT</td>
              <td *ngIf="draft.status=='COPY'">DRAFT</td>
              <td [innerHTML]="draft.designer_title"></td>
              <td>{{draft.currency_code}}</td>
              <td>{{draft.currency_symbol}}{{draft.total_amount | number :'.2'}}</td>
              <td class="actions">
                <button *ngIf="draft.status=='LOCAL_DRAFT'" (click)="restore(draft._id, 'draft')" class="restore_ordre">Restore</button>
                <button *ngIf="draft.status=='LOCAL_DRAFT'" (click)="removeDraft(draft._id)" class="remove_ordre">Remove</button>
                <button *ngIf="draft.status=='SERVER_DRAFT'" (click)="restore(draft._id, 'copy')" class="restore_ordre">Restore a Copy</button>
                <button *ngIf="draft.status=='SERVER_DRAFT'" (click)="webViewOrder(draft.order_id)" class="view_ordre">View</button>
                <button *ngIf="draft.status=='DRAFT'" (click)="restore(draft._id, 'copy')" class="restore_ordre">Restore a Copy</button>
                <button *ngIf="draft.status=='DRAFT'" (click)="webViewOrder(draft.order_id)" class="view_ordre">View</button>
                <button *ngIf="draft.status=='COPY'" (click)="restore(draft._id, 'draft')" class="restore_ordre">Restore</button>
                <button *ngIf="draft.status=='COPY'" (click)="removeDraft(draft._id)" class="remove_ordre">Remove</button>
              </td>
            </tr>  
          </ng-container>
        </ng-container>    
      </table>
    </div>
    <div class="ordres_list requested open" *ngIf="uiState=='requested'">
      <div class="no_requested_orders" *ngIf="this.data.requestedOrders.length == 0 || this.data.requestedOrders == undefined"> 
        There are currently no requested Orders. 
      </div>
      <table *ngIf="this.data.requestedOrders.length > 0">
        <tr>
          <th><span>Requested</span> date</th>
          <th>Ordre #</th>
          <th>Designer</th>
          <th>Curr</th>
          <th>Total value</th>
          <th></th>
        </tr>
        <ng-container *ngIf="this.data.requestedOrders!==undefined">
          <ng-container *ngFor="let order of this.data.requestedOrders.slice().reverse()">
            <tr *ngIf="order.buyer_id == this.values.user_profile.buyer_id">
              <td>{{order.date | date:medium}}</td>
              <td>{{order.order_id}}</td>
              <td class="des_name" [innerHTML]="order.designer_title"></td>
              <td>{{order.currency_code}}</td>
              <td>{{order.currency_symbol}}{{order.total_amount | number :'.2'}}</td>
              <td class="actions">
                <button (click)="restore(order._id, 'restore_order')" class="restore_ordre">Restore a Copy</button>
                <button (click)="webViewOrder(order.order_id)" class="view_ordre">View</button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>
  </section>
  </section>
</div>
</ion-content>

