page-orders {
    div#pbody {
        height: 100%;
    }
    section.page_content {
        height: 96%;
    }
    .open_bar #orders_section #orders_content {
        height: 100%;
        overflow: scroll;
    }
    .scroll-content {
        overflow-y: hidden;
    }
    tr td, tr th {
        text-transform: uppercase;
        color: #000000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    div.no_draft_orders, div.no_requested_orders {
        font-size: 28px;
        font-family: 'Avenir Book';
        width: 90%;
        margin: auto;
        color: #000000;
        padding-top: 50px;
    }
}
